#carousel {
    color: black;
    background-color: black;

    position: absolute;
    width: 75vw;
    height: 60vh;
    z-index: 15;
    top: 15%;
    left: 12.5%;

    border-radius: 25px;
}

#slide-img {
    width: 75vw;
    height: 60vh;
    border: 1px round;
    border-radius: 25px;
    filter: opacity(25%) grayscale(50%);
}

#first-img {
    width: 100vw;
    height: 100vh;
    filter: opacity(25%) grayscale(50%);
}

#first-text {
    position: absolute;
    top: 550px;
    right: 100px;
    color: white;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

#endanger-count {
    color: rgb(255, 123, 0);
}