.card .about {
    width: 18rem;
}

.aboutColumn {
    flex-basis: 20%;
    margin-bottom: 15px;
}

.aboutTeamRow {
    margin-left: 0;
    margin-right: 0;
}

.aboutContainer {
    background-color: white;
}

.aboutSitePurpose {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.aboutHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.aboutHeaderPicture {
    width: 100%;
    margin-top: 0px;
}

.about-us {
    position: absolute;
    top: 220px;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 3.8rem;
    font-weight: 100;
    border-bottom: 5px solid white;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.about-us-sub {
    color: white;
    position: absolute;
    top: 340px;
}

h1 {
    margin-top: 1rem;
}

.motto {
    margin-top: 100px;
    color: #3c3c3c;
    font-weight: 100;
}

.conclude {
    font-size: 16px;
}
.about-statement {
    text-align: center;
    width: 800px;
    margin-top: 20px;
    font-size: 18px;
    color: #707070;
    line-height: 26px;
    margin-bottom: 50px;
}

hr {
    color: black;
    width: 100%;
    margin-bottom: 0px;
}

#selector {
    list-style-type: none;
    padding-left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.selector-elem {
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.selector-elem:hover {
    border-bottom: 3px solid rgb(21, 21, 158);
    padding-bottom: 17px;
    cursor: pointer;
}

#active {
    border-bottom: 3px solid rgb(21, 21, 158);
    padding-bottom: 17px;
}

.tab-wrapper {
    margin-bottom: 250px;
    width: 95%;
    text-align: center;
}
