.source-list {
    margin-top: 50px;
    list-style-type: none;
    overflow: hidden;
}

.learned {
    margin: auto;
}

.source {
    margin-top: 20px;
    width: 700px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.source-img {
    float: left;
    margin-right: 50px;
}