.link-con-git {
    margin-top: 50px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.link-con-api {
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.learned {
    width: 900px;
    text-align: center;
    margin-top: 20px;
}