.header {
    text-align: center !important;
}

.stats-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
    margin-top: 150px;
}

.stat {
    display: inline-block;
    margin-right: 150px;
}

.stat:last-child {
    margin-right: 0px;
}

.number {
    font-weight: bold;
    font-size: 75pt;
    font-family: sans-serif;
    line-height: 0pt;
}

.stat-name {
    font-size: 25pt;
    font-family: Geneva, Verdana, sans-serif;
    color: black;
    line-height: 50pt;

}

