.toolbelt {
    list-style-type: none;
    margin-top: 50px;
    text-align: center;
    padding-left: 0px;
}

.tool {
    display: inline;
    margin-left: 75px;
}

.tool:first-child {
    margin-left: 0px;
}

.tool-header {
    text-align: center !important;
}

.tool-img {
    cursor: pointer !important;
}

.tool-name {
    font-size: 2rem;
}

.tool-name:hover {
    text-decoration: none;
}

.tool-containter {
    text-align: left;
    margin-top: 15px;
}

.tool-desc {
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 18px;
}

.tool-desc-header {
    font-weight: bold;
}