.stateTable {
    max-width: 50%;
}

.modelTableHeader {
    margin-top: 1.5rem;
    text-align: center;
}

.principalImage {
    margin-top: 15px;
    max-height: 400px;
}

.imageCol {
    max-width: 50%;
    overflow: auto;
}

.tableImage {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.w-33 {
    width: 33%;
}

.state-chart-row {
    margin-top: 2em;
    margin-bottom: 2em;
}

.react-slideshow-container {
    margin: auto;
}

a.badge-info {
    margin-left: 5px;
}

#animal-links-0 {
    border-top: 1px solid #dee2e6;
}

#plant-links-0 {
    border-top: 1px solid #dee2e6;
}

#description {
    margin-top: 15px;
}

.territoryLink {
    width: 100%;
    height: 100%;
    position: relative;
    border-width: 0px;
}

.linkRow:hover {
    background-color: rgba(0,0,0,.075)
}

.linkRow {
    margin-left: 0px;
    max-width: 50%;
}

.modelLink {
    text-decoration: none;
    color: inherit;
}

path {
  pointer-events: all;
}

path:hover {
  opacity: 0.50;
  cursor: pointer;
}
