#carousel {
    color: black;
    background-color: green;

    position: absolute;
    width: 75vw;
    height: 60vh;
    z-index: 15;
    top: 15%;
    left: 12.5%;

    border-radius: 25px;
}

#slide-img {
    width: 75vw;
    height: 60vh;
    border: 1px round;
    border-radius: 25px;
}

.organism-carousel {
    height: 385px;
    object-fit: contain;
}

.react-slideshow-container {
    padding-left: 60px;
    padding-right: 40px;
    width: 100%;
}

.each-fade {
    display: flex;
    height: 450px;
    /*background: rgb(168, 201, 159);*/
    background: gray;
}

.each-fade .image-container {
    width: 70%;
    overflow: hidden;
    background: rgb(0, 0, 0);
}

.each-fade .image-container img {
    height: 100%;
    margin: auto;
    display: block;
}

.each-fade .description-container {
    width: 30%;
    margin: 0;
    padding: 10px;
    /*background: rgb(168, 201, 159);*/
    background: gray;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.react-slideshow-fade-images-wrap {
    max-height: 450px;
}

.react-slideshow-container .nav:first-of-type {
    margin-right: -35px !important;
}

.react-slideshow-container .nav:last-of-type {
    margin-left: -35px !important;
}

.indicators {
    width: 80%;
}
