.card-organism {
    width: 18rem;
}

.organismImage {
    height: 300px;
}

.aboutColumn {
    flex-basis: 20%;
    margin-bottom: 15px;
}

.animal-name {

}

.animal-sci-name {

}

.animal-category {

}

.animal-territories {

}
