#card-link {
    text-decoration: none;
    color: black;
    display: inline;
}

.modelContainer {
    margin-top: 15px;
}

.paginationCard {
    box-sizing: border-box;
    margin: 0 0 1em 0;
    position: relative;
    transition: all 0.2s;
    width: 100%;
}

@media only screen and (min-width: 60rem) {
    .paginationCard {
        flex: 0 1 auto;
        flex-basis: calc(50% - 1em - 0.13em);
        margin-left: 1em;
    }
}

@media only screen and (min-width: 80rem) {
    .paginationCard {
        flex-basis: calc((100% / 3) - 1em - 0.13em);
    }
}

.card{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.paginatorRow {
    margin-bottom: 15px;
}

#sort-dropdown {
    display: inline;
    margin-bottom: 15px;
    background-color: rgb(23, 112, 23);
    border-color: rgb(23, 112, 23);
}

#sort-dropdown:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 150, 51, 0.5);
}

#filter-dropdown {
    margin-bottom: 15px;
    background-color: rgb(23, 112, 23);
    border-color: rgb(23, 112, 23);
}

#filter-dropdown:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 150, 51, 0.5);
}

.dropdown-item.active {
    background-color: rgba(51, 150, 51);
}

.dropdown-item:active {
    background-color: rgba(51, 150, 51);
}

#result-search-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#page-navigator {
    margin-top: 30px;
}

