#navbar-title {
    color: rgb(255, 255, 255);
    font-size: 80%;
    margin-right: -449px;
    margin-top: 5px;
}

#navbar-turtle {
    width: 3.8%;
    margin-left: 19px;
    margin-right: 5px;
}


#navbar-link {
    /*color: rgb(51, 150, 51);*/
    color: white;
    margin-top: 1px;
    margin-right: 16px;
}

#navbar-link:hover {
    /*color: rgb(14, 92, 14);*/
    /*color: rgb(12, 190, 254);*/

    color: rgb(179, 179, 179);
}

#navbar-models {
  position: absolute;
  top: 5px;
  left: 27%;
}

.navbar-dropdown {
    background-color: rgb(249,249,249); /* Color code for bootstrap's "light" color */
    border-color: rgb(249,249,249);
}

.navbar-nav .navbar-dropdown .nav-link {
    color: rgb(51, 150, 51);
    /*background-color: rgb(30, 96, 227);*/
}

#navbar-dropdown:hover {
    color: rgb(14, 92, 14);
}

#navbar {
    /*background-color: rgb(11, 90, 157);*/
    background-color: rgb(12, 85, 155);
    border-color: black;
    border-bottom: 0.01px solid;
}

span.active {
    color: rgb(179, 179, 179);
}

.navbar-nav .nav-link {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#marg {
    padding-left: 7px;
    padding-right: 7px;
}
