#front-page {
  background-color: white;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #d7eecc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}


#goat {
  width:100vw;
  height: 95vh;
}

#endangerously {
  font-size: 75%;
  color: white;
}

#statement {
  position: absolute;
  top: 25vh;
  left: 8vw;
  color: white;
  text-align: left;
  font-weight: bold;
}

#button {
  color: white;
  background-color: rgb(4, 121, 29);
  position: absolute;
  top: 40vh;
  left: 15vw;
  margin-top: 25px;
}

#button:hover {
  background-color: rgb(5, 107, 27);
  color: rgb(212, 212, 212);
  
}

#nav {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 10vh;
  width: 100%;
}

.link {
  color: white;
  margin: 15px;
}

#model-link {
  color: black;
}

#search-glass:hover {
  cursor: pointer;
}

.search-input {
  position: absolute;
  top: 20%;
  right: 1%;
  height: 30px;
}

#about {
  position: absolute;
  top: 25%;
  right: 2%;
}

.link:hover {
  color: rgb(179, 179, 179);
  text-decoration: none;
}

#model-link:hover {
  color: rgb(179, 179, 179);
  text-decoration: none;
}

#models {
  position: absolute;
  top: 18px;
  left: 24.2%;
}

#title {
  margin-left: 10px;
  position: absolute;
  text-align: left;
  top: 18px;
  left: 0px;
  color: rgb(255, 255, 255);
  font-size: 100%;
  width: 275px;
}

#title:hover {
  cursor: pointer;
}

#title-turtle {
  width: 10%;
  margin-left: 10px;
  margin-right: 5px;
}

#quote-page {
  position: relative;
  height: 95vh;
  margin-top: 120px;
}

#section-name {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  position: relative;
  font-size: 40pt;
  margin-bottom: 15px;
}

#waterfall {
  width: 90%;
  height: 100;
}

#quote-picture {
  position: relative;
  float: left;
  width: 50%;
}

#quote-text {
  position: relative;
  width: 50vw;
  float: right;
  margin-top: 150px;
}

#actual-quote {
  position: relative;
  width: 75%;
  margin: auto;
  color: gray;
  font-size: 15pt;
}

#quote-attrib {
  position: relative;
  display: inline;
  color: gray;
  margin-left: 290px;
  font-style: italic;
  text-align: right;
}

.quotation{
  font-size: 15px;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
  font-family: serif;
}

.quotation:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 15px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 20px;
  color: #ccc;
  font-size: 3em;
}

#sans-font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mission-statement {
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  width: 600px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: Geneva, Verdana, sans-serif;
}

#find-button {
  background-color: rgb(0, 89, 255);
  color: white;
  display: inline;
}

#find-button:hover {
  background-color: rgb(0, 68, 194);
  color: rgb(212, 212, 212);
}

#model-buttons {
  position: relative;
  margin-top: 300px;
}

#model-subtitle {
  font-family: sans-serif;
  font-size: 20pt;
  margin-top: 20px;
  color: rgb(92, 92, 92);
  font-weight: 100;
}

#model-list {
  list-style-type: none;
  margin-bottom: 200px;
}

#model-element {
  width: 13%;
  text-align: center;
  display: inline-block;
  margin-right: 200px;
  margin-top: 80px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20pt;
}

#model-element:last-child {
  margin-right: 0px;
}

#model-element p{
  margin-top: 20px;
}

.leaf:hover {
  filter: invert(0.4) sepia(0.5) saturate(3.8) hue-rotate(75deg) brightness(0.82);
  cursor: pointer;
}

.flag:hover {
  filter: invert(0.3) sepia(1) saturate(4) hue-rotate(158.4deg) brightness(0.84);
  cursor: pointer;
}

.animal:hover {
  filter: invert(0.4) sepia(1) saturate(4) hue-rotate(327.6deg) brightness(0.99);
  cursor: pointer;
}
