
.state-filter-row {
    margin-bottom: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

h3 svg {
    margin-left: -5px;
}

.collapse-form {
    padding-top: 8px;
}

.collapse-form-hidden {
    padding-top: 0;
}
